<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Form Page</title>
    <link href="./style.css" rel="stylesheet">
</head>

<body>
    <div class="form">
        <form method="POST" action="/user/add">
            <input name="name" value="" placeholder="Name of the user" />
            <input name="email" value="" placeholder="Email of the user" />
            <button type="submit">Submit</button>
        </form>
    </div>

</body>

</html>