<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="form-container"><p>
    <form method = "POST" action = "/user/add">
        <input name = "name"  value ="" placeholder="Enter your Name"/><br/>
        <input name = "email"  value ="" placeholder="Enter your Email_id"/><br/>
        <button type = "submit">Submit</button>
    </form>
    </p>
</div>
</body>